/* color link */
/* https://coolors.co/a31621-bfdbf7-053c5e-1f7a8c-db222a */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata&family=Monoton&family=Montserrat&family=Quicksand&family=Roboto:wght@100;400&family=Source+Sans+Pro&family=Teko&display=swap');

/* // Config // */

html{
  font-size: 62.5%;
  background-color: white;
}

.body {
  padding: 0 5% 0 5%;
}

h1{
  color: white;
}

h2, strong{
  font-family: 'Anton', sans-serif;
  color: black;
  letter-spacing: 1px;
}

h3, h4, a, p, span, li{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 2;
  color: #333333;
}

h1{
  font-size: 3rem;
  font-weight: 500;
}

.list__app__hover p{
  font-size: 1.5rem;
}

span, div{
  font-size: 1.8rem;
}

.copy__right{
  font-size: 1.5rem;
}

.banner__photo{
  width: 100vw;
  height: 75vh;
  object-fit: cover;
  object-position: 50% 65%;
  position: relative;
  /* box-shadow: 0 1px 0 0 #cccccc; */
}

/* // Style // */

.nav__title h1{
  position: absolute;
  top: 15px;
  right: 30px;
  padding: 20px;
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
}

.nav__left{
  padding-bottom: 10vh;
}

.title{
  padding-bottom: 5px;
  width: fit-content;
}

/* Grid design for the main part */

.list__apps{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.upper, .list__apps, .description{
  margin-top: 7vh;
}

.middle{
  margin-bottom: 20vh;
}

/* style for the div for portfoilo */

.list__apps__container{
  margin: auto auto;
  position: relative;
}

/* Style the div of the portfolio */

.list__app{
  border: 1px solid black;
  border: none;
  position: relative;
  box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 300px;
}

.list__app__photo{
  background-position: center;
  object-fit: cover;
  box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 0.5);
  margin-bottom: 30px;
}

/* add same style to both photo and the dive */

.list__app, .list__app__photo{
  width: 480px;
  max-width: 480px;
  height: 480px;
  max-height: 480px;
  border-radius: 5px;
}

/* create hovering design */

img.list__app__photo:hover + .list__app__hover{
  display: inline-block;
  transition: 0.5s;
}
.list__app__hover:hover{
  display: inline-block;
}

.list__app__hover{
  position: absolute;
  display: none;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(200, 200, 200, 0.5);
  transition: 0.5s;
  color: white;
  text-decoration: none;
}

/* create white texts withtn the element */

.list__app__hover__texts{
  position: absolute;
  bottom: 7%;
  left: 10%;
  color: white;
}

/* description title design */

.list__app__source__and__description__title{
  padding-left: 20px;
  border-left: 2px solid black;
}

/* link desgin */

.list__app__source__and__description a{
  text-decoration: none;
  color: #A31621;
}

.list__app__source__and__description a:hover{
  border-bottom: 2px solid black;
}

.description__bottom{
  display: inline-block;
}

footer{
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__icons a{
  margin-left: 10px;
  color: black;
}

.footer__icons a:hover{
  color: #4d090f;
}

/* top bar desgin */

.top__bar{
  width: 100vw;
  height: 5vh;
  color: black;
  position: absolute;
  top: 0;
  z-index: 200;
}

.ellipsis{
  margin-left: 30px;
  font-size: 35px;
  cursor: pointer;
  z-index: 1000;
}

/* burger menu */

.burger{
  height: 100%;
  background-color: transparent;
  position: absolute;
  display: none;
}

.burger__show{
  display: block;
  top: 0;
  right: 30px;
}

.header__icons a{
  margin-right: 8px;
  color: black;
}

.header__icons a:hover{
  color: #4d090f;
}

/* banner position */

.banner{
  position: relative;
}

/* .down__button{
  position: absolute;
  color: #4d090f;
  opacity: 0.5;
  font-size: 45px;
  top: 70vh;
  right: 15vw;
  transition-duration: 1s;
} */

@media (max-width: 1160px) {
  .list__app, .list__app__photo{
    width: 400px;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
  }
  .hide__for__telephons{
    display: none;
  }
}

@media (max-width: 1060px) {
  .list__app, .list__app__photo{
    width: 380px;
    max-width: 380px;
    height: 380px;
    max-height: 380px;
  }
}

@media (max-width: 960px) {
  .list__app, .list__app__photo{
    width: 310px;
    max-width: 310px;
    height: 310px;
    max-height: 310px;
  }
  /* .nav{
    flex-direction: column-reverse;
    align-items: stretch;
    margin-bottom: 120px;
  } */
}

@media (max-width: 860px) {
  .list__app, .list__app__photo{
    width: 280px;
    max-width: 280px;
    height: 280px;
    max-height: 280px;
  }
}

@media (max-width: 720px) {
  .list__app, .list__app__photo{
    width: 450px;
    max-width: 450px;
    height: 450px;
    max-height: 450px;
  }
  .list__apps{
    grid-template-columns: 1fr;
  }

  .nav__title h1{
    right: 0;
  }
}

@media (max-width: 480px) {
  .list__app, .list__app__photo{
    width: 300px;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
  }
  .list__apps{
    grid-template-columns: 1fr;
  }

  h1{
    font-size: 2.5rem;
  }

  .banner__photo{
    height: 65vh;
  }

  .description{
    margin-top: 10vh;
  }
}

@media (max-width: 320px) {
  .list__app, .list__app__photo{
    width: 270px;
    max-width: 270px;
    height: 270px;
    max-height: 270px;
  }
}
