.list-apps {
  display: flex;
  justify-content: space-around;
}

.upper,
.list-apps,
.description {
  margin-top: 7vh;
}

.middle {
  margin-bottom: 50vh;
}

.list-app,
.list-app-photo {
  width: 350px;
  max-width: 480px;
  height: 350px;
  border-radius: 5px;
}

.list-app {
  box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 0.5);
  position: relative;
}

.list-app-photo {
  background-position: center;
  object-fit: cover;
  box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 0.5);
  margin-bottom: 30px;
}

.list-app-hover {
  display: none;
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  transition: 0.5s;
  z-index: 1;
}

img.list-app-photo:hover + .list-app-hover,
.list-app-hover:hover {
  display: inline-block;
}

.list-app-hover-texts {
  position: absolute;
  bottom: 7%;
  left: 10%;
  color: white;
}

.list-app-source-and-description a {
  text-decoration: none;
  color: #a31621;
}

.list-app-source-and-description a:hover {
  border-bottom: 2px solid black;
}
